.ContactUs{
    width: 30%;
    margin: 0;
    text-align: left;
}
.ContactUs label{
text-align: left;
display: block;
}

.ContactUs input, .ContactUs textarea{
width: 60%;
padding: 6px 10px;
margin: 10px;
box-sizing:border-box;
display:block;
}

/*spacing for button */
button{
cursor: pointer;
margin-right: 2%;
}