/*h1{
    /*background-color: rgb(142, 191, 235); */


p{
    /*brings it closer to heading, size of font, background color*/
    margin-top: -1%;
    font-size: medium;
   
}
/*button design*/
button{
    /*size of font, space button apart, background color */
    font-size: medium;
    margin-bottom: 1%;
    margin-left: 0.5%;
    padding: 1%;
    
    
}