* {
  box-sizing: border-box;
  text-align: left;

}
 .Create {
  width: 80vh;
  margin: 5 rem auto;
  flex-direction: column;
  display: flex;
  justify-content: space-between;

 
}


.form-field {

  flex: 10 px;
}

 .box {
   border: 5px solid rebeccapurple;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    position: absolute;
    margin-top: -50px;
    margin-left: 600px;
    width: 500px;
    height: auto;
}


.form-field label{
  margin: 0%;
  font-family: Helvetica;
  color: rgb(6, 6, 6);
}
 /*color of box */
.Create input {
  display: flex;
  height: 35px;
  width: 285px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(61, 61, 61);
}
input[type="submit"]:hover {
  background: #dbdcdc;
}
 input[type="button"]:hover {
  background: #dbdcdc;
}

/* color of box changes when it is clicked on */
input:focus {
  border: 2px solid rgb(14, 15, 16);
}
.services{
  flex-direction:row-reverse;
  justify-content: space-between;
}
.Create element {
  height: 35px;
  width: 500px;
  margin-top: 1%;
  color: #0f0e0e;
  background-color: white;
  justify-content: space-between;
}

.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}

/*button changes color when mouse hovers it */
.Create button[type="submit"]:hover {
  background: hsl(0, 0%, 100%);
}
 button { 
  background: white;
  outline: none;
  cursor: pointer;
  font-size: small;
  border-radius: 2px;
  padding: 5px 10px;
  /*spacing for button */
  margin-right: 23%;
 
}
 .submit{
display: flex;
color: rgb(0, 0, 0);
border: 1px solid rgb(0, 0, 0);
}
 /* Add a Element */
.first-division button {
  align-self: flex-start;
  margin-top: 0.5rem;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
  /* remove button*/
.second-division button {
  border: 1px solid red;
  width:auto;
  margin-left: 55%;
  padding: 3px;
  color: red;
  background-color:white; 
  
}


  .Create input[type="formText"]{
    height: 40px;
    width: 290px;
    color: #000000;
    border: 3px solid rgba(0, 0, 0, 0.2);
  }
  
  
  .Create input[type="password"] {
    height: 40px;
    width: 290px;
    color: #000000;
    border: 3px solid rgba(0, 0, 0, 0.2);
  }
  
  .Create input[type="submit"] {
    cursor: pointer;
    height: 20px;
    width: 90px;
    font-size: small;
    background: #fffdfd;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    padding: 7px 10px;
  }