* {
    box-sizing: border-box;
  }
  
  .Create {
    width: 80vh;
    display: flex;
    justify-content: space-between;
    text-align: left;
    
  }
  
  .form-field {
    flex: 2;
  }

  .output {
    margin-left: 3rem;
    flex: 1;
  }
  .form-field label,
  .Add h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(84, 84, 84);
  }
  
  /*color of box */
  .Create input {
    display: flex;
    height: 35px;
    width: 285px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(114, 114, 114);
  }
  .Create input[type="submit"]:hover {
    background: #dbdcdc;
  }
  
  input[type="button"]:hover {
    background: #dbdcdc;
  }

  /* color of box changes when it is clicked on */
  input:focus {
    border: 2px solid rgb(14, 15, 16);
  }
  
  .element {
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }

  /*button changes color when mouse hovers it */
  button[type="submit"]:hover {
    background: hsl(180, 1%, 86%);
  }

  button {  
    background: none;
    outline: none;
    cursor: pointer;
    font-size: small;
    border-radius: 2px;
    padding: 5px 10px;
    /*spacing for button */
    margin-right: 2%;
    
  }
  
  .submit{
display: flex;

  }
   /* Add a Element */
  .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }
  
   /* remove button*/
  .second-division button {
    color: red;
    border: 1px solid red;
  }