.Validating {
    font-family: sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .Validating input[type="text"],
  input[type="password"] {
    height: 40px;
    width: 30%;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .Validating input[type="submit"] {
    cursor: pointer;
    font-size: small;
    background: #fffdfd;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    padding: 7px 10px;
  }
  
  .Validating input[type="submit"]:hover {
    background: #dbdcdc;
  }
  
  .button-container {
   display: flex;
   justify-content: left;
    
  }
  
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    height: 50%;
    width: 90%;
    flex-direction: column; 
    border: #000000;
    
    margin: 10px;
  }